.Header {
    text-align: center;
    position: relative;
    top: 0;
    color: black;
    font-size: calc(10px + 1vmin);
    background-color: #15171b;
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
    height: 100%;
    vertical-align: middle
  }

.HeaderLogo {
    height: 50px;
    width: 50px;
    vertical-align: middle
}

  .list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0;
    display: inline-block;

}

.list-inline > li {
    display: inline-block;
    margin-left: 0.5em;
	margin-right: 0.5em;
}

a {
  color: #ff7f50;
}