#main-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    vertical-align: middle;
    /* height: 1000px; */
    /* width:  1000px; */
    width: 50%;
}
#filler {
    height: 250px;
}